# Dependencias
node_modules/

# Archivos de entorno
.env

# Archivos generados
dist/
build/
coverage/

# Logs
*.log

# Configuraciones de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store

# Archivos de bloqueo de dependencias (opcional)
package-lock.json
# yarn.lock